@charset "utf-8";
/*color*/
:root {
    --bg_dim:rgba(0,0,0,0.5);

    --color_sh_blue:#2A3FEC;
    --color_sh_Gr_01:#111;
    --color_sh_Gr_02:#3B3B41;

    --color_grow:#E11A1A;
    --color_fall:#2D78FA;
}

/* skipNav */
.skipNav a {display:block;position:absolute;top:-50px;z-index:9999;font-size:18px;background-color:#fff;}
.skipNav a:focus,
.skipNav a:active {top:0;}

/*layout*/
body {height:100vh}
#wrap {position:relative;display:flex;flex-direction:column;width:100%;height:100%;color:#3B3B41;font-size:62.5%;line-height:1.3;}
#header {position:fixed;display:flex;width:100%;height:5.2rem;align-items:center;justify-content:space-between;padding:0 1.2rem 0 1.8rem;background-color:#fff;z-index:2;}
#container {display:flex;flex-direction:column;padding:0;flex:1;overflow-y:auto;}
#header ~ #container {padding:5rem 0 0;}  
#footerWrap {display:flex;flex-direction:column;align-items:center;}

/*asideMenu*/
.asideMenuWrap {position:fixed;top:0;left:100%;width:100%;height:100%;background-color:#fff;transition:all 0.3s ease-in-out;z-index:2;}
.asideMenuWrap.active {left:0;}
.menuInner {width:100%;height:100%;}
.menuHeader {position:relative;display:flex;height:5.2rem;padding:1.2rem 1.8rem;align-items:center;justify-content:space-between;}
.menuHeader .logo {display:none;width:11.5rem;height:2rem;background:url(../images/common/logo.svg) no-repeat 0 0;background-size:100%;}
.menuHeader .userInfo {display:flex;align-items:baseline;}
.menuHeader .userInfo .name {display:flex;align-items:center;color:#111;font-size:2rem;font-weight:700;margin-right:1.2rem;}
.menuHeader .userInfo .name::after {content:'님';font-weight:400;}
.menuHeader .userInfo .subText {display:none;font-size:1.4rem;color:#3B3B41;margin:0.6rem 0 0.8rem;}
.menuHeader .utilArea {display:flex;align-items:center;margin-right:2.4rem}
.menuHeader .utilArea button {margin-right:1.6rem;}
.menuCont {display:flex;flex-direction:column;width:100%;height:100%;}
.kyeMenu {padding:0.8rem 2rem;border-bottom:1px #D6DBE8 solid;}
.kyeMenu .kyeMenuList {display:flex;align-items:stretch;justify-content:space-around;margin-left:-0.8rem;}
.kyeMenuList li {width:calc(100% / 3 - 0.8rem);margin-left:0.8rem;}
.kyeMenuList li a {display:flex;flex-direction:column;align-items:center;justify-content:center;padding:0.8rem 1rem;}
.kyeMenuList li a::before {content:'';width:3.2rem;height:3.2rem;background-position:0 0;background-repeat:no-repeat;background-size:100%;}
.kyeMenuList li.key01 a::before {background-image:url(../images/common/icon_keyMenu01.svg);}
.kyeMenuList li.key02 a::before {background-image:url(../images/common/icon_keyMenu02.svg);}
.kyeMenuList li.key03 a::before {background-image:url(../images/common/icon_keyMenu03.svg);}
.kyeMenuList li .txt {display:none;font-size:1.2rem;color:#6D6D73}
.kyeMenuList li .tit {font-size:1.2rem;color:#3B3B41;font-weight:700;margin-top:0.6rem;text-align:center;}
.naviArea {display:flex;width:100%;height:100%;}
.naviArea .depth1Area {width:13.8rem;background-color:#F1F3F8;padding:0.8rem 0 1.6rem;flex-shrink:0;}
.depth1Area .menuList li a {display:block;padding:1.2rem 1.6rem 1.2rem 2.2rem;color:#91919C;font-size:1.3rem;font-weight:500;}
.depth1Area .menuList li.active a {background-color:#fff;color:#3B3B41;font-weight:700;}
.depth2Area {width:100%;padding:0.8rem 0 0;}
.menuListBox {display:none;flex-direction:column;padding:0 2rem;}
.menuListBox:first-child {display:flex;}
.menuListBox .title {color:rgba(42, 63, 236, 0.80);font-size:1.3rem;font-weight:700;padding:1.2rem 0;border-bottom:1px #ECF0FB solid;margin-bottom:0.6rem;}
.menuListBox .menuList {padding:1rem 2rem 1.6rem;margin:0 -2rem;overflow-y:auto;}
.menuListBox .menuList li {display:flex;flex-direction:column;margin-bottom:1.2rem;line-height:1.7}
.menuListBox .menuList li .depth2Title {color:#3B3B41;font-size:1.5rem;font-weight:700;}
.depth2Title.depth3 {background:url(../images/common/icon_plus.svg) no-repeat 100% 50%;background-size:16px 17px;}
.depth2Title.depth3.active {background-image:url(../images/common/icon_minus.svg);}
.depth3List li {margin:1.2rem 0;}
.depth3List li a {color:#474759;font-size:1.5rem;padding:0 1rem}
.depth2Area li.selected a {color:#2A3FEC !important;}

.searchWrap {display:none;position:absolute;top:0;left:0;width:100%;padding:2.4rem 2.2rem;background-color:#fff;box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);align-items:center;justify-content:center;}
.searchWrap .searchForm {display:flex;width:36.2rem;height:4.5rem;border:1px #474759 solid;border-radius:2.25rem;align-items:center;justify-content:center;padding:1rem 2.4rem;}
.searchForm .btn_iconSearch {margin-left:1.6rem;flex-shrink:0;}

/*header*/
#header .subMenuWrap {flex:1;}
#header h2.title {font-size:2rem;color:#111}
#header .rightBox {display:flex;flex-shrink:0;}
#header .rightBox button {padding:2rem;background-size:2.4rem 2.4rem;background-position:50%;background-repeat:no-repeat;}
.btn_iconMenu {background-image:url(../images/common/icon_menu.svg)}
.btn_share {background-image:url(../images/common/icon_share.svg)}

/*subHeader*/
.subMenu {top:5rem}
.subMenuInner {position:absolute;top:0;display:flex;width:100%;flex-direction:column;background-color:#fff;}
.select_menuList {display:none;}
.subMenuWrap .dropdown-container .dim {top:5rem;}
.subMenuWrap .dropdown-select-ul {padding:0.4rem 1.8rem 2rem}
.subMenuWrap .dropdown-select-ul li {color:#3B3B41;font-size:2rem;font-weight:500;line-height:1.4;margin-top:0.8rem}

/*contents*/
.section {margin-bottom:4.8rem;padding:0 1.8rem;}
.sectionHeader {position:relative;display:flex;align-items:center;justify-content:space-between;padding-top:2.8rem}
.sectionHeader .dropdown-select:after {background-image:url(../images/common/icon_arrow.svg);}

.accordionList_box {margin-top:1.6rem;}
.accordionList_box .list {background-color:#fff;border-radius:1.2rem;padding:1.6rem}
.accordionList_box .list ~ .list {margin-top:0.8rem;}
.accordionList_box .list a {display:flex;flex-direction:column;}
.accordionList_box .stockName {color:var(--color_default);font-size:1.6rem;}
.accordionList_box .stockInfo {display:flex;margin-top:1.2rem;align-items:center;justify-content:space-between;}

.stockInfo .stockCode {color:#6D6D73;font-size:1.3rem;}
.stockInfo .stockPrice {color:var(--color_sh_Gr_01);font-size:1.6rem;font-weight:700;}
.stockInfo .stockGap {display:flex;flex-direction:column;align-items:center;}
.stockInfo .stockGap .num:after {content:'%';} 
.stockInfo .stockGap.grow .gap,
.stockInfo .stockGap.grow .num,
.stockInfo .stockGap.grow .num .bul,
.stockInfo .stockGap.grow .num::after {color:#E11A1A}
.stockInfo .stockGap.fall .gap,
.stockInfo .stockGap.fall .num,
.stockInfo .stockGap.fall .num .bul,
.stockInfo .stockGap.fall .num::after {color:#2D78FA}

.stockDetailInner {display:flex;align-items:center;justify-content:space-between;padding-top:1.6rem}
.stockDetailInner .stockInfoList {margin-bottom:2rem;flex:1;}
.stockDetailInner .stockInfoList li {display:flex;align-items:center;justify-content:space-between;margin-top:0.5rem}
.stockInfoList li .value {text-align:right;}
.stockDetailInner .graphArea {max-width:10rem;flex-shrink:0;margin-left:5rem}

.sortingWrap {display:flex;align-items:center;justify-content:space-between;margin-top:1rem}

/*footer*/
.footInfoArea {position:relative;display:flex;width:100%;flex-direction:column;align-items:center;background-color:#333950;padding:0;}
.corpArea {display:flex;width:100%;background-color:#333950;padding:1.6rem 0;justify-content:center;}
.corpArea a,
.agreeBox a {display:flex;align-items:center;color:#B5B5BC;font-size:1.4rem;font-weight:400;}
.corpArea a::before {content:'';width:1px;height:14px;background-color:rgba(255, 255, 255, 0.30);margin:0 1.2rem;}
.corpArea a:first-child::before  {display:none;}
.agreeBox {display:flex;width:100%;background-color:#232838;align-items:center;justify-content:center;color:#B5B5BC;font-size:1.4rem;padding:1.6rem 0;}
.agreeBox a ~ a {margin-left:1.6rem;}
.agreeBox a strong {color:#fff;font-weight:700;}
.snsBox {display:flex;width:100%;background-color:#232838;padding:0 0 2.4rem;justify-content:center;}
.snsBox a {display:flex;width:3rem;height:3rem;align-items:center;justify-content:center;background-color:#192032;border-radius:50%;background-repeat:no-repeat;background-position:50% 50%;}
.snsBox a ~ a {margin-left:1.2rem}
.icon_youtube {background-image:url(../images/common/icon_youtube.svg);background-size:100%;}
.icon_blog {background-image:url(../images/common/icon_blog.svg);background-size:1.8rem 1.5rem;}
.icon_kakakotalk {background-image:url(../images/common/icon_talk.svg);background-size:1.8rem 1.6rem;}
.icon_facebook {background-image:url(../images/common/icon_facebook.svg);background-size:100%;}
.icon_instagram {background-image:url(../images/common/icon_insta.svg);background-size:1.6rem 1.6rem;}

.copyrightArea {display:flex;flex-direction:column;width:100%;background-color:#232838;padding:0 0 1.6rem;align-items:center;}
.copyrightArea .btnWrap {display:flex;align-items:center;}
.copyrightArea .btnWrap a {font-size:1.6rem;color:#fff;font-weight:400}
.btnCustom {display:inline-flex;height:4.4rem;padding:0 2rem;align-items:center;justify-content:center;background-color:#3D455F;color:#fff;font-size:1.3rem;border-radius:22px;}
.copyrightArea .btnWrap a ~ a {margin-left:4rem;}
.adressArea {display:flex;align-items:center;margin-top:2rem;} 
.adressArea span,
.adressArea address {font-size:1.2rem;color:#6D6D73;}
.adressArea address {margin:0 2rem;}
.copyright {color:#6D6D73;font-size:1rem;margin-top:1.6rem}
.copyrightArea .btnWrap a:not(.btnCustom), 
.copyrightArea .btnWrap .tel,
.adressArea,
.icon_shinhan {display:none;}

/*=====================================================================================================================================================================================*/

/*listType : generalList*/
.listArea {display:flex;flex-direction:column;width:100%}
.categoryName {font-size:1.3rem;font-weight:500;margin-bottom:1.6rem;}
.listArea .listInner {display:flex;flex-direction:column;line-height:1.5;}
.listArea .listInner .title {color:#3B3B41;font-size:1.8rem;font-weight:500;word-break:keep-all;}
.listArea .listInner .text {font-size:1.5rem;color:#333950;margin:0.6rem 0;}
.listArea .listInner .add {display:flex;align-items:center;margin-top:0.6rem;}
.listInner .info {display:flex;color:#B5B5BC;font-size:1.3rem;align-items:center;}
.listInner .info span {display:flex;align-items:center;}
.listInner .info .date + span {margin-left:0.8rem;}
.listInner .file {display:flex;align-items:center;}
.listInner .file::before {content:'';width:1px;height:1.2rem;margin:0 0.8rem;background-color:#D4D4D4;}
.listInner .file span {display:flex;align-items:center;font-size:0;}
.listInner .file span::before {content:'';display:flex;width:24px;height:24px;background:url(../images/common/icon_file.svg) no-repeat 0 0;background-size:24px;}

.ellipsis {display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.arrow {display:flex;align-items:center;}
.arrow::after {content:'';display:flex;width:24px;height:24px;background:url(../images/common/icon_arrow.svg) no-repeat 0 0;background-size:100%;margin-left:5px;transition:all 0.3s ease-in-out;}
.arrow.active::after {transform:rotate(-180deg);}

/*상세*/
.contentsDetailWrap {display:flex;flex-direction:column;overflow:hidden;}
.contentsDetailWrap .contHeader.listArea {background-color:#F6F6F9;padding:3.2rem 1.8rem;}
.contentsDetailWrap .contHeader.listArea .listInner .text {margin:1.6rem 0;}
.contentsDetailWrap .listInner .add {position:relative;justify-content:space-between;}
.contentsDetailWrap .listInner .add .info {color:#6D6D73;}
.contentsDetailWrap .listInner .file::before {display:none;}
.contentsDetailWrap .listInner .file span {font-size:1.3rem;color:#6D6D73;}
.fileArea {display:none;position:absolute;top:2.6rem;right:0;max-width:23rem;flex-direction:column;background-color:#fff;border:1px #111 solid;padding:2.4rem 1.6rem 1.6rem;border-radius:8px;}
.fileList a {font-size:1.3rem;color:var(--color_sh_Gr_02);text-decoration:underline;}
.fileList a ~ a {margin-top:0.6rem;}
.btnClose {position:absolute;top:1rem;right:1rem;width:16px;height:16px;background:url(../images/common/icon_layerClose.svg) no-repeat 0 0;background-size:100%;}
.file.active + .fileArea {display:flex;}
.contentsDetailWrap .contDetail {display:flex;flex-direction:column;padding:3.2rem 1.8rem 9.5rem;}
.contentsDetailWrap .contDetail .text {margin-bottom:2.4rem;font-size:1.6rem;line-height:1.5}

/*=====================================================================================================================================================================================*/

/*selectbox*/
select {display:none}

/*selectType : 공통 */
.dropdown-select {display:flex;font-size:2rem;align-items:center;}
.dropdown-select:after {content:'';width:2.4rem;height:2.4rem;background:url(../images/common/icon_menuArrow.svg) no-repeat 50% 50%;background-size:100%;margin-left:0.8rem;transition:transform 0.3s ease-in-out;}
.dropdown-select.active:after {transform: rotate(-180deg);}
.dropdown-container {display:none;position:fixed;left:0;top:5rem;width:100%;height:100%;}
.dropdown-container.active {display:block;}
.dropdown-select-ul {width:100%;max-height:50%;background-color:#fff;overflow-y:auto;}
.active .dropdown-select-ul {display:block;}
.dropdown-select-ul li.selected {color:var(--color_sh_blue);}

.dim {position:fixed;left:0;top:0;width:100%;height:100%;background-color:var(--bg_dim);z-index:-1;opacity:0;visibility:hidden;transition:all 0.5s ease-in-out;}
.active .dim {opacity:1;visibility:visible;}

/*select : listType*/
.selectListWrap .dropdown-container {position:absolute;top:5.2rem;left:0;}
.selectListWrap .dropdown-container.active {width:auto;}
.selectListWrap .dropdown-select {font-size:1.5rem}
.selectListWrap .dropdown-container .dropdown-select-ul {padding:0.8rem;border:1px #111 solid;border-radius:10px;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);}
.selectListWrap .dropdown-container .dropdown-select-ul li {padding:0.4rem 0.8rem;font-size:1.5rem;color:#B5B5BC;background-color:#fff;border-radius:5px;}
.selectListWrap .dropdown-container .dropdown-select-ul li ~ li {margin-top:0.8rem;}
.selectListWrap .dropdown-container .dropdown-select-ul li:hover,
.selectListWrap .dropdown-container .dropdown-select-ul li.selected {background-color:#DDE6FF;color:#111;}

/*select : bottomSheet*/
.popBottom .dropdown-container {top:auto;bottom:0;height:auto;}

/*=====================================================================================================================================================================================*/

/*scrolltab*/
.tabMenu,
.subTabMenu {position:fixed;top:5.2rem;width:100%;overflow-x:auto;padding-top:2rem;background-color:#fff;border-bottom:1px #D6DBE8 solid;transition:all 0.3s ease-in-out;z-index:1;}
.tabMenu .moreArea {display:none;}
.tabMenuList {display:flex;white-space:nowrap;}
.tabMenuList li {height:3.6rem;padding:0 0 0 2rem;}
.tabMenuList li a {position:relative;display:flex;height:100%;font-size:1.8rem;color:#B5B5BC;cursor:pointer;}
.tabMenuList li.active a {color:#111;font-weight:700;}
.tabMenuList li a:after {content:'';position:absolute;bottom:0;left:0;width:0;height:2px;border-radius:1px;background-color:#000;transition:all 0.3s ease-in-out;}
.tabMenuList li.active a:after {width:100%;}

/*scrolltab : 메뉴전체보기*/
.tabWrap.active .tabMenu {right:0;padding:2rem 1.8rem;transition:none;z-index:3;}
.tabWrap.active .menuFullArea {display:flex;align-items:center;}
.menuFullArea .title {display:none;}
.tabWrap.active .menuFullArea .title {display:flex;font-size:1.5rem;font-weight:500;}
.tabMenu .moreArea.on {position:fixed;top:6.2rem;right:0;display:flex;height:4.2rem;padding:0 1.8rem 0 2.4rem;background:linear-gradient(to right,rgba(255,255,255,0),#fff 30%);align-items:center;justify-content:center;z-index:2;}
.btnMenu_more {width:3.2rem;height:3.2rem;background:#fff url(../images/common/icon_tabMore.svg) no-repeat 50% 50%;background-size:2.4rem;border:1px #D6DBE8 solid;border-radius:4px;}
.btnMenu_more.active {transform:rotate(180deg);}
.tabWrap.active .tabMenuList {flex-flow:wrap;white-space:normal;margin-left:-0.6rem;padding:1.2rem 0 0;}
.tabWrap.active .tabMenuList li {flex-basis:calc(100% / 3 - 0.6rem);margin:0.6rem 0 0 0.6rem;border:1px #D6DBE8 solid;border-radius:4px;padding:0 !important;}
.tabWrap.active .tabMenuList li.active {border-color:#111;}
.tabWrap.active .tabMenuList li a {display:flex;width:100%;font-size:1.5rem;align-items:center;justify-content:center;}
.tabWrap.active .tabMenuList li a:after {display:none;}
.tabWrap .dim {z-index:2;}

.tabcontents {display:none;margin-top:5.8rem;}

/*subTab*/
.subTabMenu {top:10.9rem;padding-top:0;border-bottom:none;transition:all 0.3s ease-in-out;}
.subTabMenu.active {box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);}
.subTabMenu .tabMenuList {padding:1.2rem 0 1.2rem 1.8rem;}
.subTabMenu .tabMenuList li {height:3.2rem;margin-left:8px;padding:0;}
.subTabMenu .tabMenuList li:first-child {margin-left:0;}
.subTabMenu .tabMenuList li a {align-items:center;border:1px #D6DBE8 solid;border-radius:1.6rem;padding:0 1.6rem;background-color:#fff;font-size:1.5rem;font-weight:500;}
.subTabMenu .tabMenuList li.active a {background-color:var(--color_sh_blue);color:#fff;border-color:var(--color_sh_blue);}
.subTabMenu .tabMenuList li a::after,
.subTabMenu .tabMenuList li.active a::after {display:none;}

.subTabcontents {display:none;padding-top:5.8rem}

.tabWrap .tabMenu::-webkit-scrollbar,
.tabWrap .subTabMenu::-webkit-scrollbar  {display:none;}

/*=====================================================================================================================================================================================*/

/* button : Default - solid */
.btnWrap {display:flex;align-items:center;}
.btnWrap.group {justify-content:space-between;}
.btnWrap.float {position:fixed;bottom:0;width:100%;padding:4.8rem 1.8rem 3.2rem;background:linear-gradient(to bottom,rgba(255,255,255,0),#fff 30%);}

.btn {display:flex;width:100%;height:4.8rem;padding:0 1.6rem;align-items:center;justify-content:center;font-size:1.6rem;font-weight:700;color:#3B3B41;border-radius:8px;}
.btn.mi {height:4.2rem;font-size:1.4rem;}
.btn.sm {height:3.6rem;font-size:1.3rem;}
.btn.pri {background-color:var(--color_sh_blue);color:#fff}
.btn.sec {background-color:#D2D4E1;}
.btn.line {background-color:#fff;border:1px #8C949E solid;border-radius:8px;}
.btn.line.sm {border-radius:6px;}
.btn.pri:hover,
.btn.pri:active,
.btn.pri.press {background-color:#1122AE;}
.btn.sec:hover,
.btn.sec:active,
.btn.sec.press {background-color:#B0B4D0;}
.btn.line:hover,
.btn.line:active,
.btn.line.press {background-color:#EAEAEE;border-color:#8C949E;}
.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active {background-color:#DDE1E4;color:#B5B5BC;cursor:default;}
.btn.line:disabled,
.btn.line:disabled:hover,
.btn.line:disabled:active {background-color:#fff;border-color:#DDE1E4;}

.btnWrap.group .btn:first-child {width:40%;margin-right:0.8rem}
.btnWrap.group .btn:last-child {width:60%;}

/*button : text*/
.btn_textLogout {color:#91919C;font-size:1.2rem;text-decoration:underline;}

/* button : icon*/
[class*='btn_icon'] {width:2.4rem;height:2.4rem;background-size:100%;background-position:0 0;background-repeat:no-repeat;}
.btn_iconHome {background-image:url(../images/common/icon_home.svg);}
.btn_iconSearch {background-image:url(../images/common/icon_search.svg);}

/*=====================================================================================================================================================================================*/

/*swiper*/
.swiperInner {display:flex;}
.swiperInner .swiper-slide {display:flex;flex-direction:column;width:100%;padding:30px 20px;}

.cardSwiperWrap {display:flex;flex-direction:column;background-color:rgba(238, 238, 238, 0.50);border-radius:16px;border:1px #fff solid;box-shadow: 5px 10px 15px 0px rgba(149, 115, 130, 0.20);backdrop-filter: blur(10px);}

/*=====================================================================================================================================================================================*/

/*scroll*/
.scroll {overflow-y:auto;}

/*icon*/
.arrowR {display:flex;align-items:center;}
.arrowR::after {content:'';width:24px;height:24px;background:url(../images/common/icon_right_arrow.svg) no-repeat 0 0;background-size:100%;}

/*=====================================================================================================================================================================================*/

/*popUp*/
.popWrap {display:flex;flex-direction:column;position:fixed;top:0;left:0;width:100%;height:100%;justify-content:center;align-items:center;transition:all 0.3s ease-in-out;opacity:0;z-index:-1;}
.popWrap.active {opacity:1;z-index:10;}
.popWrap .popInner {position:relative;display:flex;flex-direction:column;width:100%;background-color:#fff;} 
.popWrap .popHeader {display:flex;align-items:center;}
.popWrap h2.popTitle {font-size:1.8rem;color:#3B3B41;padding-right:4.2rem;line-height:1.2;}
.popWrap .popContent {font-size:1.6rem}
.btn_popBottomClose {position:absolute;top:1.2rem;right:1.8rem;width:2.4rem;height:2.4rem;background:url(../images/common/icon_popClose.svg) no-repeat 50%;background-size:1.5rem;}
.mod {position:fixed;top:-1px;left:-1px;width:1px;height:1px;}

/*popUp : Full*/
.popFull {width:100%;height:100%;background-color:#fff;justify-content:flex-start}

/*popUp : bottomSheet*/
.popBottom {justify-content:flex-end;flex-direction:column;}
.popBottom .popInner {position:fixed;max-height:60%;padding-top:3.5rem;bottom:-50%;transition:bottom 0.3s ease-in-out;}
.popBottom.active .popInner {bottom:0;}
.popBottom .btn_popBottomClose {position:absolute;top:5px;left:50%;right:auto;transform:translateX(-50%);}

/*popUp : popConfirm*/
.popConfirm {width:100%;padding:0 1.8rem}
.popConfirm .popInner {border-radius:8px;justify-content:center;padding:1.6rem 2.4rem 2.4rem;}
.popConfirm h2.popTitle {padding:1.2rem 0;}
.popConfirm .popContent {padding:0.8rem 0 3.2rem;}

/*input*/
input[type="text"] {width:100%;height:2.5rem;font-size:1.6rem}
::placeholder {color:#B5B5BC}

/* 테블릿 가로 (해상도 900px이상)*/
@media all and (min-width:900px){ 
  /*layout*/
  #header {height:6.5rem;padding:0 1.6rem 0 2.2rem;}
  #header h2.title {font-size:2.4rem;;}

  /*asideMenu*/
  .menuHeader {display:flex;height:6.5rem;padding:1.6rem 2.2rem;border-bottom:1px #D6DBE8 solid;}
  .menuHeader .logo,
  .menuHeader .userInfo .subText,
  .kyeMenuList li .txt {display:block;}
  .menuHeader .userInfo {position:absolute;top:9rem;left:2.4rem;flex-direction:column;}
  .menuHeader .userInfo .name {font-size:2.4rem;margin-right:0;}
  .menuHeader .utilArea {position:absolute;top:9.5rem;left:17rem}
  .menuHeader .utilArea .btn_iconSearch {display:none;}
  .menuCont {flex-direction:row;}
  .kyeMenu {width:21.4rem;height:100%;padding:15.7rem 2.2rem 2.4rem;background-color:#F1F3F8;border-bottom:0;flex-shrink:0;}
  .kyeMenu .kyeMenuList {flex-direction:column;margin-left:0;}
  .kyeMenuList li {width:100%;margin:0.8rem 0 0;padding:1.2rem 1.6rem;background-color:#fff;border-radius:6px;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);}
  .kyeMenuList li a {position:relative;padding:0;align-items:baseline;}
  .kyeMenuList li a::before {position:absolute;top:0;right:0;}
  .kyeMenuList li .tit {font-size:1.4rem;margin-top:0;}
  .naviArea {position:relative;flex:1;}
  .naviArea .depth1Area {display:none;}
  .depth2Area {display:flex;flex-flow:wrap;padding:10.9rem 2.2rem 1.6rem;overflow-y:auto;}
  .depth2Area .menuListBox {display:flex !important;width:calc(100% / 3 )}

  .searchWrap {display:flex;}

   /*footer*/
  .footInfoArea {flex-direction:row;padding:2.4rem 2.2rem;}
  .corpArea {width:auto;background-color:#333950;padding:0;}
  .agreeBox {width:auto;background-color:#333950;padding:0;font-size:1.3rem;}
  .agreeBox a::before {content:'';width:1px;height:14px;background-color:rgba(255, 255, 255, 0.30);margin:0 1.2rem;}
  .snsBox {position:absolute;top:1.6rem;right:2.2rem;width:auto;background-color:transparent;padding:0;}
  .snsBox a ~ a {margin-left:0.8rem}
  .copyrightArea {position:relative;align-items:flex-start;padding:2rem 2.2rem;}
  .btnCustom {height:auto;padding:0;background-color:transparent;border-radius:0;}
  .btnCustom span {font-size:1.4rem;padding-top:0.26rem;}
  .btnCustom em {display:none;}
  .btnCustom strong {font-size:2rem;font-weight:700;margin-left:0.8rem}
  .copyright {font-size:1.2rem;margin-top:0.5rem}
  .icon_shinhan {position:absolute;bottom:1.6rem;right:1.6rem;width:4rem;height:4rem;background:url(../images/common/icon_oneShinhan.png) no-repeat 50% 50%;background-size:100%;}

  .copyrightArea .btnWrap a:not(.btnCustom), 
  .copyrightArea .btnWrap .tel,
  .adressArea,
  .icon_shinhan {display:flex;}

  /*selectType : 공통 */
  .dropdown-select {font-size:2.4rem;}

  /*list*/
  .generalList li {padding:2rem 0;}
  .listArea .listInner .title {font-size:2rem;}

  /*list - 상세*/
  .contentsDetailWrap .listInner .add {flex-direction:column;align-items:flex-start;font-size:1.4rem;}
  .contentsDetailWrap .listInner .file {margin-top:1.8rem;cursor:default;}
  .contentsDetailWrap .listInner .file span {font-size:0;}
  .contentsDetailWrap .listInner .arrow::after {display:none;}
  .fileArea {display:flex;position:relative;top:0;max-width:100%;background-color:transparent;border:0;padding:0 0 0 2.8rem;margin-top:-21px}
  .fileArea .btnClose {display:none;}

}

/* 모바일 가로 & 테블릿 세로 (600px ~ 899px)*/ 
@media all and (min-width:600px) and (max-width:899px) {

  /*popUp*/
  .popConfirm {padding:0 20%;}
} 
