@charset "utf-8";

/* font - 스포카 한 산스 네오 font-family: 'Spoqa Han Sans Neo'; */
/* @import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css'); */

@font-face{
    font-family:Spoqa Han Sans Neo;
    src:url(../font/SpoqaHanSansNeo-Regular.woff2) format("woff2"),
        url(../font/SpoqaHanSansNeo-Regular.woff) format("woff"),
        url(../font/SpoqaHanSansNeo-Regular.ttf) format("truetype");
    font-style:normal;
    font-weight:400
}
@font-face{
    font-family:Spoqa Han Sans Neo;
    src:url(../font/SpoqaHanSansNeo-Medium.woff2) format("woff2"),
        url(../font/SpoqaHanSansNeo-Medium.woff) format("woff"),
        url(../font/SpoqaHanSansNeo-Medium.ttf) format("truetype");
    font-style:normal;
    font-weight:500
}
@font-face{
    font-family:Spoqa Han Sans Neo;
    src:url(../font/SpoqaHanSansNeo-Bold.woff2) format("woff2"),
        url(../font/SpoqaHanSansNeo-Bold.woff) format("woff"),
        url(../font/SpoqaHanSansNeo-Bold.ttf) format("truetype");
    font-style:normal;
    font-weight:700
}

html {height:100%;display:block;font-size:10px;} /* 62.5% //scroll-behavior: smooth;*/

@media only screen and (max-width:320px)  {
    html{font-size:9px} 
}

html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address,
canvas, details, figure, figcaption, footer, header, menu, nav, section, article, aside,
form, fieldset, button, select, textarea, input, fieldset, legend, label, a, span, strong, em, address, dfn, small, i, b, pre, ::before, ::after {margin:0; padding:0; border:0; list-style:none; color:inherit; font-style:normal; font-weight:inherit; font-family:inherit; line-height:inherit; word-break:break-all; word-wrap:inherit; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {display:block;}
body {font-family: "Spoqa Han Sans Neo", "sans-serif", "Dotum", "Dotumche", "돋움", "돋움체", "Arial"; font-weight:400; line-height:1; word-break:keep-all; /* word-wrap:word-break; */ -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
html[lang=ja] body, html[lang=zh] body {word-break:normal;}
/* [hidden], hr {display:none;} */
img {vertical-align:middle;}
button {background-color:transparent; cursor:pointer;}
b, strong {font-weight:bold;}
fieldset, iframe {width:100%;}
img, a, frame, iframe, fieldset {border:0;}
a {text-decoration:none;}
table {width:100%; border-spacing:0; border-collapse:collapse; table-layout: fixed;}
caption {height:0; overflow:hidden;}
legend {position:absolute; left:-9999em; top:-9999em;}
button {overflow:hidden; background-color:transparent; cursor:pointer;}
button::-moz-focus-inner {border:0px; padding:0px;}
select {appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
select::-ms-expand {display:none;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
/* input::search-decoration, */
/* input::search-cancel-button, */
/* input::search-results-button, */
/* input::search-results-decoration {display:none;} */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance:none; margin:0;}
input::-webkit-calendar-picker-indicator {-webkit-appearance:none;}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {outline:none;box-sizing:border-box;}/*outline:1px #ddd dashed;*/

img {width:100%;max-width:100%;object-fit:cover;}

/* 대체 텍스트 */
.blind {position:absolute; width:1px; height:1px; overflow:hidden; margin:-1px; -webkit-clip-path:polygon(0 0, 0 0, 0 0); clip-path:polygon(0 0, 0 0, 0 0); font-size:0; line-height:0;}

